<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= PageTitle %></title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-200 font-sans">
    <div class="mx-16 my-10 p-5 bg-white rounded-lg w-[90vw]">
      <form action="/showAvailTrains" method="post">
        <!-- Transport Options -->
        <div class="flex mb-5">
          <div class="flex items-center mr-5">
            <img
              src="https://edge.ixigo.com/st/vimaan/_next/static/media/train.d3e3d1e5.svg"
              alt="train"
              class="h-15 w-15"
            />
            <h3 class="ml-2">Trains</h3>
          </div>
          <div class="flex items-center mr-5">
            <img
              src="https://edge.ixigo.com/st/vimaan/_next/static/media/flight.f515b25a.svg"
              alt="flight"
              class="h-15 w-15"
            />
            <h3 class="ml-2">Flights</h3>
          </div>
          <div class="flex items-center mr-5">
            <img
              src="https://edge.ixigo.com/st/vimaan/_next/static/media/bus.1942c5dd.svg"
              alt="buses"
              class="h-15 w-15"
            />
            <h3 class="ml-2">Buses</h3>
          </div>
          <div class="flex items-center mr-5">
            <img
              src="https://edge.ixigo.com/st/vimaan/_next/static/media/hotel.4b63222d.svg"
              alt="hotels"
              class="h-15 w-15"
            />
            <h3 class="ml-2">Hotels</h3>
          </div>
        </div>

        <!-- Search Fields -->
        <div class="flex items-center mb-5">
          <div class="flex items-center mr-8">
            <label for="from_station">
              <img
                src="https://www.confirmtkt.com/img/icons/ic-search-from-desktop.svg"
                alt="from"
                class="h-12 w-12"
              />
            </label>
            <input
              type="text"
              id="from_station"
              name="from_station"
              placeholder="BRC - Vadodara"
              required
              class="bg-gray-200 p-3 rounded-lg text-lg ml-2 focus:outline-none"
            />
          </div>
          <div class="flex items-center mr-8">
            <label for="to_station">
              <img
                src="https://www.confirmtkt.com/img/icons/ic-search-to-desktop.svg"
                alt="to"
                class="h-12 w-12"
              />
            </label>
            <input
              type="text"
              id="to_station"
              name="to_station"
              placeholder="AK - Akola Jn"
              required
              class="bg-gray-200 p-3 rounded-lg text-lg ml-2 focus:outline-none"
            />
          </div>
          <div class="flex items-center mr-8">
            <label for="date">
              <img
                src="https://www.confirmtkt.com/img/icons/ic-search-calender-desktop.svg"
                alt="date"
                class="h-12 w-12"
              />
            </label>
            <input
              type="date"
              id="date"
              name="travel_date"
              required
              class="bg-gray-200 p-3 rounded-lg text-lg ml-2 focus:outline-none"
            />
          </div>
          <div>
            <input
              type="submit"
              value="Search Train"
              class="bg-orange-500 text-white text-lg px-8 py-3 rounded-lg cursor-pointer hover:bg-orange-600"
            />
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
